<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>登录</title>
  <meta name="description" content="Professional certification login-page">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="all,follow">
  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.default.css" id="theme-stylesheet">
</head>

<body>
  <div class="page login-page">
    <div class="container d-flex align-items-center">
      <div class="form-holder has-shadow">
        <div class="row">
          <!-- Logo & Information Panel-->
          <div class="col-lg-6">
            <div class="info d-flex align-items-center">
              <div class="content">
                <div class="logo">
                  <h1>专业认证信息管理系统</h1>
                </div>
                <p>西安邮电大学计算机学院</p>
              </div>
            </div>
          </div>
          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            <div class="form d-flex align-items-center">
              <div class="content">
                <form method="post" class="form-validate">
                  <div class="form-group">
                    <input id="login-username" type="text" name="Username" required data-msg="请输入用户名" placeholder="用户名"
                      class="input-material" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <input id="login-password" type="password" name="Password" required data-msg="请输入密码"
                      placeholder="密码" class="input-material" autocomplete="off">
                  </div>
                  <button id="login" type="submit" class="btn btn-primary">登录</button>
                  <div style="margin-top: 12px;float: right;">
                    <a href="#" class="forgot-pass">忘记密码&nbsp;</a>|<a href="{{ url_for('register') }}"
                      class="signup">&nbsp;注册</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>