<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/fSelect.css" rel="stylesheet" type="text/css">
    <link href="../static/css/te.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css">
    <script src="../static/jquery-3.1.0.min.js"></script>
    <script src="../static/fSelect.js"></script>
    <script src="../static/layui.js"></script>
    <script>
        $(function () {
            $('.demo').fSelect();
        });
    </script>
</head>

<body>
    <select class="demo hidden" multiple="multiple">
        <option value="cp">C++</option>
        <option value="cs">C#</option>
        <option value="oc">Object C</option>
        <option value="c">C</option>
    </select>
</body>

</html>